<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> le titre</title>
</head>
<body>

    <div class="formulaire flex flex_row  ">
        <div class="w48">
            <form class=" flex_col "action="/validation" method="post">
            <h3>Connection</h3>
            <input type="hidden" name="formulaire" value="Connection">
            <ul>
                <li>
                <span class="input">User Name : </span><br><input type="text" id='user_login' name="user_login" value="" required>
                </li>
            </ul>
            <p>
                <input type="submit" name="connect" value="connect">
                <button id='reset' type="reset">reset</button>
                <input type="checkbox" name="remember" >remember username
            </p>
            </form>
        </div>
    </div>
</body>
</html>