<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<!--    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js">
    <title>Document</title>
</head>
<body>
        {% set i = 0 %}
<!--    <table id="dataTable">-->
        {% for line in data %}
            {% for row in line %}
                {{ loop.index }} :
                {{ row }}
                {% if loop.index == 100 %}
                    {{ break }}
                {% endif %}
                <br>
            {% endfor %}
        {% endfor %}
<!--    </table>-->



</body>
</html>